{{ define "main" }}

<h1>Dette er taxonomy.html</h1>
<h1>{{ .Title }}</h1>




<div class="container is-fullhd">

{{ range where .Site.Data.pocketdata "tag" $.Title }}
  <a>{{ .count }}</a>
<div class="columns is-multiline is-mobile">
  {{ range .items }}
  <div class="column is-3-tablet is-6-mobile is-2-desktop">
  {{/*  <div class="column is-one-fifth-desktop">  */}}
    <a href="{{ .given_url }}">{{ .given_title }} -- {{ .time_updated }}</a><br />
  </div>
  {{ end }} 
</div>
{{/* {{ range .Site.Data.pocketdata }} */}} 

{{ end }}
</div>





{{ end }}